.code-compare {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: flex-start;
}

.code-compare > div[class*="language-"] {
  flex: 1;
  min-width: 300px;
  margin-top: 10px !important;
}

@media (max-width: 768px) {
  .code-compare { flex-direction: column; }
}

@media (min-width: 769px) {
  :root {
    --vp-code-font-size: 0.75em;
  }
}
